accelerate
argh~=0.28.1
dacite~=1.8.0
demucs
diffusers>=0.9.0
flask~=2.2.3
flask_cors
numpy~=1.24.2
pillow>=9.1.0
plotly~=5.14.1
pydub~=0.25.1
pysoundfile
scipy~=1.10.1
soundfile
sox
streamlit>=1.18.0
torch~=2.0.0
torchaudio~=2.0.1
torchvision
transformers~=4.28.1

setuptools==67.6.1
tqdm~=4.65.0
playsound==1.2.2